@import 'tailwindcss';

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background: #1A1A2E;

	display: flex;
	justify-content: center;
	align-items: center;
}

.star {
	position: absolute;
	width: 2px;
	height: 2px;
	background: white;
	opacity: 0;
	border-radius: 50%;
	animation: twinkle 2s infinite;
}

@keyframes twinkle {

	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}
